<!DOCTYPE html>
<html>
    {{>head}}
<body>
  <div class="main-content">
    {{>header}}
    <div class="about-me">
      <img class='portrait' src='/img/carli.jpg'>
      <div>
        <h2>Carli Tamba</h2>
        <p> Mahasiswa Informatika di Universitas Negeri Padang dengan ketertarikan pada web development dan game development.</p>
      </div>
    </div>
    <div class="about-app">
      <div>
        <h2>Aplikasi Cuaca</h2>
        <p>Aplikasi ini menampilkan informasi cuaca di lokasi tertentu dengan memasukkan lokasi mana yang ingin dicek cuacanya</p>
      </div>
      <img class="img-about-app" src='/img/icon.png'/>
    </div>
    </div>
    {{>footer}}
</body>
</html>